body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  /* Change height to min-height */
  background-color: #f0f0f0;
}

#root {
  width: 100%;
}

.backgroundDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 600px;
}

h2.displayed-text {
  color: white;
  font-size: 20px;
  word-wrap: break-word;
  text-align: center;
}

.prev-btn,
.next-btn {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  size: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.prev-btn {
  order: -1;
  align-self: flex-start;
  margin-right: 50%;
  background-color: darkkhaki;
}

.next-btn {
  align-self: flex-end;
  margin-right: 50%;
  background-color: brown
}

p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}